# Level 1: Variables & Print

Source: `01_Level_Variables_Print.md`

## Exercise 1.1: Hello World
**Task:** Write a program that prints "Hello, World!" to the console.

In [ ]:
# Write your solution here

## Exercise 1.2: Personal Greeting
**Task:** Create a variable `name` with your name and print "Hello, [name]!".
**Expected Output:**
```
Hello, Vito!
```

In [ ]:
# Write your solution here

## Exercise 1.3: Variable Swap
**Task:** Given two variables `a = 5` and `b = 10`, swap their values without using a third variable.
**Expected Output:**
```
a = 10, b = 5
```

In [ ]:
# Write your solution here

## Exercise 1.4: Circle Area
**Task:** Given a radius `r = 7`, calculate and print the area of a circle.
**Expected Output:**
```
Area: 153.94
```

In [ ]:
# Write your solution here

## Exercise 1.5: Temperature Converter
**Task:** Convert a temperature from Celsius to Fahrenheit.
**Expected Output:**
```
25Â°C = 77.0Â°F
```

In [ ]:
# Write your solution here

## Exercise 1.6: Type Detective
**Task:** Print the type of each of these values: `42`, `3.14`, `"Hello"`, `True`, `None`.
**Expected Output:**
```
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
```

In [ ]:
# Write your solution here

## Exercise 1.7: String to Number
**Task:** Given `num_str = "123"`, convert it to an integer, add 100, and print the result.
**Expected Output:**
```
223
```

In [ ]:
# Write your solution here

## Exercise 1.8: Float Precision
**Task:** Given `price = 19.99`, print it with exactly 2 decimal places and a currency symbol.
**Expected Output:**
```
Price: $19.99
```

In [ ]:
# Write your solution here

## Exercise 1.9: Multiple Assignment
**Task:** In one line, assign `x = 1`, `y = 2`, `z = 3`. Then print their sum.
**Expected Output:**
```
Sum: 6
```

In [ ]:
# Write your solution here

## Exercise 1.10: Calculate Age
**Task:** Given `birth_year = 1995` and `current_year = 2025`, calculate and print the age.
**Expected Output:**
```
Age: 30
```

In [ ]:
# Write your solution here

## Exercise 1.11: BMI Calculator
**Task:** Calculate BMI given `weight = 70` (kg) and `height = 1.75` (m).
**Expected Output:**
```
BMI: 22.86
```

In [ ]:
# Write your solution here

## Exercise 1.12: Seconds Converter
**Task:** Given `total_seconds = 3725`, convert to hours, minutes, and seconds.
**Expected Output:**
```
1 hours, 2 minutes, 5 seconds
```

In [ ]:
# Write your solution here

## Exercise 1.13: Rectangle Properties
**Task:** Given `length = 8` and `width = 5`, calculate area and perimeter.
**Expected Output:**
```
Area: 40
Perimeter: 26
```

In [ ]:
# Write your solution here

## Exercise 1.14: Scientific Notation
**Task:** Given `distance = 384400` (km to the moon), print it in scientific notation.
**Expected Output:**
```
Distance: 3.84e+05 km
```

In [ ]:
# Write your solution here

## Exercise 1.15: Tip Calculator
**Task:** Given `bill = 85.50` and `tip_percent = 18`, calculate the tip and total.
**Expected Output:**
```
Tip: $15.39
Total: $100.89
```

In [ ]:
# Write your solution here

## ðŸŽ¯ Level 1 Complete!

In [ ]:
# Write your solution here